body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: rgb(8, 28, 94);
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.options {
    padding: 16px;
}

.option-input {
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    padding: 4px;
    font-family: monospace;
    outline: none;
}

.options button:active {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

.paint-a-taint {
    display: grid;
    gap: 1px;
    height: 100%;
}

.paint-a-taint div {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.container {
    background-color: white;
    height: 500px;
    width: 500px;
}